---
import {Icon} from 'astro-icon'
import {
//   AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	// YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Home Page | Hire top offshore software developers',
	description: 'Hire top offshore software developers. Let us at dBoa Technologies help you find an ideal match that will accelerate your digital transformation.',
};
---

<!-- <AnnouncementBar text="Read Our Latest Blog Post" href="/blog/posts/remote-work-mental-health/" slot="announcement-bar"/> -->
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Top Offshore Software Development Company</h1>
			<p>Hire <strong>offshore software developers</strong> with dBoa Technologies and boost your digital transformation</p>
		</div>
		<div slot="btns-container">
			<Button href="/company/contact" customIcon
				>SCHEDULE FREE CONSULTATION<Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/landing-hero-1.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Working with dBoa Technologies was a great experience for me. They delivered what they promised which caused a positive impact on my business. They're definitely my first pick when it comes to finding top class engineers."
		customerName="Logan Buignet"
	/>

	<h2 class="process-title">The Process</h2>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h3>1. Initial Consultation</h3>
			<p>
				Meet with our team so we can get to know each other and understand your business needs. From there, we will find the right talent for you. 
			</p>
		</div>
		<div slot="column-2-body">
			<h3>2. Onboarding</h3>
			<p>
				Once we have found the right offshore developer for you, we will take care of all the necessary steps in order to get things started quickly and efficiently.
			</p>
		</div>
		<div slot="column-3-body">
			<h3>3. Boost your Business</h3>
			<p>
				It's time to leverage your newly onboarded developer and boost your business. Knowing that our team is here 24/7 to assist you with anything you need. 
			</p>
		</div>
	</ThreeColumnTextSection>

	<!-- <YouTubeEmbedSection url="https://www.youtube.com/watch?v=cbYr75_R15M" rounded /> -->

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Why work with dBoa Technologies</h2>
      <h3>Top Software Developers</h3>
      <p>
        We only hire top class offshore developers that can deliver outstading results. Our developers have many years of experience and are experts that will deliver what you are looking for.
      </p>
      <h3>Quick To Hire</h3>
        <p>
       dBoa Technologies makes finding the right match fast and easy. Once we understand your business needs, we will quickly allocate the right offshore developer and get them onboarded.
      </p>
      <h3>Support</h3>
        <p>
       We are always here for you, 24/7 throughout the entire process. We are available to answer any questions and/or assist with anything that comes up during your experience with us.
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/landing-1/landing-sticky.jpg"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Jump-start your business</h2>
    <p>It only takes a couple clicks to set up a FREE initial consultation with our team and find the right fit for you.</p>
    <Button href="/company/contact" customIcon>SCHEDULE FREE CONSULTATION<Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>

</Layout>

<style>
	.process-title {
		text-align: center;
	}
</style>